@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: "Alegreya", sans-serif;
}

body{
    h1{
        font-size: 45px;
    }
}

html {
    background-color: #fffbf7;
}
h1 {
    color: #C8251A;
}
p {
    color: #46484c;
}
.otrocolor {
    color: #8b8b8bcc;
}
button {
    background-color: #025157;
    color: #fff;
}
header{
  padding: 20px;
  /*margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;*/
  font-size: 0px;
  position: fixed;
  top: 0;
  background-color: #fffbf7;
}
li{
    display: inline;
    margin: 0px 25px;
    color: #025157;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}
.logo {
    width: 15%;
    text-align: left;
}
.logo > img {
    width: 50%;
}
.navbar{
    /*width: 70%;*/
    text-align: center;
    font-weight: 500;
}
.actions{
    /*width: 15%;*/
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: right;
    font-weight: 600;
    color: #67b54b;
}
.actions > * {
    font-size: 14px;
    padding: 0px 10px;
}
.actions > a {
    color: #67b54b;
}
.boton {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border:none;
}
.main{
    margin-top: 140px;
    text-align: center;
}
.vid-pub {
    display: flex;
    gap: 12px;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img {
    height: 80px;
    margin-top: 10px;
}
.publica {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.publica h3 {
    /*font-family: "Alegreya", serif;*/
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0px;
}
.publica > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.public p{
    color: #8b8b8bcc;
    margin-top: 15px;
}
.form-public {
    height: 55px;
    /*display: flex;
    flex-direction: column;*/
}

.publica > form p {
    color: #025157;
    margin-right: 18px;
}
.features{
    background-color: #025157;
    margin: 120px 0px;
    display: grid;
    gap: 30px;
    /*height: 600px;*/
    padding: 40px 60px;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}
/* button:hover {
    cursor: pointer;
    background-color: blue;
} */
.feature {
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.features .feature .content {
    padding: 20px;
    flex: 2;
}
.img-cont {
    width: 50px;
}
.features .feature .content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.features .feature .cont-img {
    flex: 1;
    height: 80%;
}
.stories{
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.stories .overview h2{
    font-size:48px ;
    line-height: 54px;
    color: ;
}
.stories .overview p{
    font-size:18px ;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #343434;
}
.stories .overview button{
    font-size:14px ;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    font-weight: 600;
    margin-left: 0;
}
.stories .overview img{
    width: 500px;
    max-width: 100%;
}
.stories .carousel h4{
    color: #025157;
}
.img-parf{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-parf img{
    width: 50px;
}

@media (max-width: 575px) {
    /* .navbar, .actions {
        display: none;
    } */
    h1{
        font-size: 30px;
    }
    .main{
        margin-top: 80px;
    }
    .main > img{
        width: 100%;
    }
    .vid-pub{
        flex-direction: column;
    }
    .features{
        grid-template: repeat(4, 1fr) / 1fr;
    }
    .feature > .cont-img{
        display: none;
    }
 
}

@media ((min-widt: 576px) and (max-width: 767px)){

}

@media ((min-width: 768px) and (max-width: 991px)) {

}

@media ((min-width: 992px) and (max-width: 1199px)) {

}

@media (min-width: 1200px) {

}